@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grad {
  /* background-color: hsla(0, 0%, 0%, 0);
  background-image: radial-gradient(
      at 98% 50%,
      hsla(210, 55%, 32%, 0.37) 0px,
      transparent 50%
    ),
    radial-gradient(at 53% 30%, hsla(210, 55%, 32%, 0.37) 0px, transparent 50%),
    radial-gradient(at 87% 9%, hsla(240, 55%, 56%, 0.2) 0px, transparent 50%),
    radial-gradient(at 33% 0%, hsla(195, 55%, 25%, 0.51) 0px, transparent 50%); */

  /* background: #262626;
  background: radial-gradient(
    circle,
    rgba(38, 38, 38, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); */

  background: #262626;
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    25deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 5, 93, 0.5606443260898109) 40%,
    rgba(2, 101, 121, 0.6866947462578781) 100%
  ); */

  /* background: rgb(78, 151, 255);
  background: radial-gradient(
    circle,
    rgba(78, 151, 255, 1) 0%,
    rgba(152, 210, 255, 1) 42%,
    rgba(255, 255, 255, 0) 100%
  ); */
}

.learn-more {
  cursor: pointer;
  position: relative;
}

.learn-more::after {
  content: "";
  position: absolute;
  height: 1.5px;
  left: 0;
  bottom: -1px;
  width: 0;
  /* background: #60a5fa; */
  background: #ffffff;
  transition: width 0.2s;
}

.group:hover .learn-more::after {
  width: 100%;
}

.anim-group {
  will-change: transform;
  animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

p {
  line-height: 1.6rem;
  letter-spacing: 0px;
  word-spacing: 0px;
  /* color: #797872; */
}

ul {
  line-height: 1.8rem;
}

ul li::marker {
  color: slategrey;
}

.profile {
  line-height: 1.2rem;
}

.article-title {
  line-height: 1.5rem;
}

.article {
  @apply text-white/80;
}

.article h1 {
  @apply text-white text-3xl font-bold transition-transform my-4 md:my-4;
}

.article h2 {
  @apply text-xl md:text-2xl font-bold text-white/90 mb-4 md:mb-6 mt-8 md:mt-12;
}

.article h2:first-of-type {
  @apply mt-0 md:mt-12;
}

.article h6 {
  @apply text-white/60;
}

.article p {
  @apply mb-4;
}

.article strong {
  @apply text-white font-medium;
}

.article a {
  @apply text-white hover:underline;
}

.links a {
  @apply no-underline !important;
}

.article img {
  @apply rounded-2xl h-auto max-h-[400px] md:h-[400px];
}

.app-bg {
  @apply bg-black;
}

html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));
