@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grad {
  background-color: hsla(0, 0%, 0%, 0);
  background-image: radial-gradient(
      at 98% 50%,
      hsla(210, 55%, 32%, 0.37) 0px,
      transparent 50%
    ),
    radial-gradient(at 53% 30%, hsla(210, 55%, 32%, 0.37) 0px, transparent 50%),
    radial-gradient(at 87% 9%, hsla(240, 55%, 56%, 0.2) 0px, transparent 50%),
    radial-gradient(at 33% 0%, hsla(195, 55%, 25%, 0.51) 0px, transparent 50%);
}

.learn-more {
  cursor: pointer;
  position: relative;
}

.learn-more::after {
  content: "";
  position: absolute;
  height: 1.5px;
  left: 0;
  bottom: -1px;
  width: 0;
  background: #60a5fa;
  transition: width 0.2s;
}

.group:hover .learn-more::after {
  width: 100%;
}

.anim-group {
  will-change: transform;
  animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

p {
  line-height: 1.8rem;
}

ul {
  line-height: 1.8rem;
}

ul li::marker {
  color: slategrey;
}
